{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  {% block body %}
  <body>
    <div class="container">
      <h2>About Me</h2>
        <p>There are two reasons to use a column with unique or
        db_index when using get() to retrieve individual objects.
        First, the query will be quicker because of the underlying
        database index. Also, the query could ru<p>
        <a href="/index">go back</a>
    </div>
  </body>
</html>
{% endblock %}
