<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <style type="text/css">
		* {
			font-family: Arial, sans-serif;
		}
		h3 {
			text-decoration: underline
		}
		table {
			width: 500px;
		}
	</style>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
      <div style="background-color: green; border: 1px solid black; width: 500px; text-align: center; color: #FFF">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h3>Usernames entered:</h3>
    <table>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.created_at }}</td>
            <td><a href="/delete{{ user.id }}">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/">sign more</a>
  </body>
</html>
